@import url('https://fonts.googleapis.com/css2?family={{fontFamily}}:wght@{{titleFontWeight}};{{contentFontWeight}}&display=swap');
* {
    font-family: '{{fontFamily}}', sans-serif;
  	text-align: left;
  	scroll-behavior: smooth;
}

.list-container {
    width: {{listWidth}}px;
    height: {{listHeight}}px;
    padding: 10px;
    background-color: {{backgroundColor}};
    border-radius: {{borderRadius}}px;
    border: {{borderThickness}}px solid {{borderColor}};
}

.list-title {
    display: flex;
    justify-content: {{titleItemAlignment}};
    align-items: center;
    width: calc(100% - 10px);
    height: {{labelFontSize}}px;
    color: {{titleFontColor}};
    font-size: {{labelFontSize}}px;
    font-weight: {{titleFontWeight}};
  	margin-bottom: 15px;
}

.list-content-container {
    position: relative;
    width: calc({{listWidth}}px - 10px);
}

.list-content {
    color: {{contentFontColor}};
    font-size: {{contentFontSize}}px;
    font-weight: {{contentFontWeight}};
    overflow-x: hidden;
}

.list-item {
    position: absolute;
    left: 0;
    width: calc({{listWidth}}px - 20px);
    height: {{listItemHeight}}px;
    margin-left: 150%;
    display: flex;
    justify-content: {{contentItemAlignment}};
    align-items: center;
    
}